<div class="flex flex-col">
  <app-render-web-component
    [script]="scripts.react"
    [tag]="tags.react"
    errorMessage="Erro para carregar MFE em React"
  >
    <mfe-button
      text="MFE React adicionado pelo Angular"
      icon="arrow_right"
    ></mfe-button>
  </app-render-web-component>

  <app-render-web-component
    [script]="scripts.angular"
    [tag]="tags.angular"
    errorMessage="Erro para carregar MFE em Angular"
  >
    <angular-card
      title="Titulo Pelo Shell"
      description="Descrição pelo Shell"
    ></angular-card>
  </app-render-web-component>

  <div class="btn-container">
    <button (click)="redirectReactRouter()" class="btn">
      Ir para rota react
    </button>

    <button (click)="redirectAngularRouter()">Ir para rota angular</button>
  </div>
</div>
