<div class="flex flex-col gap-2">
  <h2 class="font-bold text-xl">{{ title }}</h2>
  <p class="text-sm text-zinc-700">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ducimus
    fugit, necessitatibus animi optio, culpa autem cupiditate sed porro
    voluptatibus, tenetur ullam? Maxime temporibus, ullam at nisi officiis
    quisquam excepturi!
  </p>

  <button type="button" (click)="onClick()"
    class="self-start text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    Navegar
  </button>

  <button type="button" (click)="onClickHome()"
    class="self-start text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    Inicio
  </button>

  <button type="button"
    class="self-start text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-700 dark:hover:bg-red-800 focus:outline-none dark:focus:ring-red-900"
    (click)="handleRedirectToErrorPage()">
    Redirecionar para página de erro
  </button>
</div>